root = true

[*]
charset = utf-8
end_of_line = LF
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = false
max_line_length = 120
indent_size = 4
tab_width = 4

[]
indent_size = 2
tab_width = 2

[*.md]
trim_trailing_whitespace = false

[*.{py,rst,txt}]
indent_size = 4
